// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
 text-align: center;
 font-size: 80px;
}
.list-group-item {
 margin-top: 20px;
}
.list {
 margin: 0 auto;
 h2 {
  text-align: center;
 }
 a:hover {
  text-decoration: none;
 }

}
ul {
 li {
  list-style-type: none;
 }
}
.yelp-img {
 margin: 0 auto;
}
.content {
 text-align: center;
 ul {
  margin-left: -40px;
 }
}
